<html>
    <head>
        <title>Tinder! But for Restaurants...</title>
        <link rel="stylesheet" type="css/style.css?" />
    </head>
    <body>
        <p>Hello</p>
        <form method="post" action="/test" name="Form">
            <label for="term">Enter a term:</label><br>
            <input type="text" name="term" placeholder="Like Mexican!"><br>
            <label for="loc">Enter a location:</label><br>
            <input type="text" name="loc" placeholder="Like NYC!"><br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
