<html>
    <head>
        <title>Tinder! But for Restaurants...</title>
        <link rel="stylesheet" type="css/style.css?" />
        <style>
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form method="post" action="/index" name="Form">
            <label for="term">Enter a term:</label><br>
            <input type="text" name="term" placeholder="Like Mexican!"><br><br>
            <label for="loc">Enter a location:</label><br>
            <input type="text" name="loc" placeholder="Like NYC!"><br><br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
